:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Noto Sans', sans-serif;
  --color-primary: #bbb;
  --color-secondary: #239bce;
  --color-ternary: #e63946;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  color: #fff;
  background: #23272f;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: flex;
}
.back-to {
  margin: 2rem 0;
}
.btn {
  margin: 1rem 0;
  padding: 0.7rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto !important;
  color: #fff;
  background: #000;
  border-radius: 0.8rem;
  border: 0px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 0px 14px -7px var(--color-secondary);
  background-image: linear-gradient(45deg, #1f8ab8 0%, var(--color-secondary) 51%, #1f8ab8 100%);
  display: block;
  width: max-content;
  font-size: 1.4rem;
}
.btn-imdb,
.btn-homepage {
  padding: 0.6rem 1.6rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 14px -7px #e2b616;
  background-image: linear-gradient(45deg, #e2b616 0%, #c9c2a8 51%, #e2b616 100%);
  font-size: 1.5rem;
}
.btn-homepage {
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
  color: #fff;
}
.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
.btn:hover {
  background-position: right center;
  text-decoration: none;
}
.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}
.btn:disabled:hover {
  background: transparent;
  color: #fff;
}
.btn:active {
  transform: scale(0.95);
}

.text-primary {
  color: var(--color-secondary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-ternary {
  color: var(--color-ternary);
  font-weight: 500;
}
.inner-container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 0 1.6rem;
}
section.inner-container {
  padding: 2rem 1.6rem;
}
/* header start */
.header {
  background: rgba(9, 9, 9, 0.9);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4;
  padding: 10px 0;
}
.header .inner-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo img {
  max-width: clamp(150px, 20vw, 200px);
}
.navbar ul {
  gap: 1rem;
}
.nav-link {
  color: var(--color-primary);
  font-size: 1.8rem;
  padding: 1rem 0.8rem;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-secondary);
}
input[type='checkbox'] {
  display: none;
}
/* header end */
/* now playing start */
.now-playing {
  padding: clamp(5rem, 1vw, 10rem);
  position: relative;
  min-height: 300px;
  overflow: hidden;
}
.now-playing h2 {
  font-family: var(--font-secondary);
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}
.trending-movies {
  position: absolute;
  opacity: 0.1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  left: 0;
  top: -30px;
  right: 0;
  z-index: -1;
}
.trend-poster img {
  width: 100%;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 50%;
}
.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-rating {
  padding: 10px;
}
/* now playing end */
/* search start */
.search {
  position: relative;
}
.search-radio-box label {
  font-size: 1.6rem;
  color: #fff;
  margin-right: 1rem;
}
.search .inner-container {
  max-width: 600px;
  margin: 3rem auto;
}
.search-input {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 1rem;
}
.search-term {
  width: 100%;
  border: 2px solid var(--color-secondary);
  border-right: none;
  outline: none;
  height: 50px;
  padding: 12px;
  border-radius: 8px 0 0 8px;
  background: transparent;
  color: #d8dee9;
  font-size: 1.8rem;
}
.search-term:hover,
.search-term:focus {
  border-color: #88c0d0;
}
.search-button {
  width: 60px;
  height: 50px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #000000;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 1.8rem;
  transition: 0.3s all ease;
}
.search-button:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.7);
}
#alert {
  position: absolute;
  right: 0;
  top: 8px;
}
.alert {
  padding: 1rem;
  border-radius: 0.5rem;
}
.alert-success {
  background: green;
}
.alert-error {
  background: #c60000;
}
/* search end */
/* popular movies start */
#popular-movies,
#popular-shows,
#movie-upcoming {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}
.inner-container h2 {
  text-align: center;
  margin: 1rem 0;
}
.card {
  background: #4c566a;
  padding: 10px;
}
.card img {
  width: 100%;
}
.card-body {
  padding: 1.2rem;
  font-size: 2rem;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #5e81ac;
}
/* popular movies end */
/* footer start */
.footer {
  background: #3b4252;
  padding: 2rem 0;
  margin-top: auto;
}
.footer .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  max-width: clamp(150px, 20vw, 200px);
}
.footer .social-links {
  display: flex;
  font-size: 1.8rem;
  gap: 2rem;
}
.footer .social-links a {
  color: #d8dee9;
}
.footer .social-links a:hover {
  color: var(--color-secondary);
}
/* footer end */
/* search page start */
#search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
/* search page end */
.active {
  color: var(--color-secondary);
  font-weight: 700;
}
/* movie details page start */
.inner-container h3 {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}
.details-top {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.details-top h3 {
  text-align: left;
}
.details-bottom {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
#movie-details ul {
  list-style: inside;
  gap: 0.4rem;
  flex-direction: column;
}
.card-img-top {
  object-fit: cover;
}
.fa-star {
  color: gold;
  font-size: 1.4rem;
  font-weight: 600;
}
.movie-score {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.movie-overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movie-overview .btn {
  align-self: center;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.details-bottom li {
  padding: 0.7rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.details-bottom li:last-child {
  border: 0;
}
.details-bottom h4 {
  margin: 1rem 0 0;
}
.country-lan-info,
.list-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.country-lan-info {
  align-items: center;
  text-align: center;
}
.company-logo {
  max-width: 70px;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}
.company-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.company-link:hover,
.company-link:focus {
  text-decoration: underline;
}
.details-bottom div {
  max-width: 300px;
}
.production-info .list-group {
  margin-top: 1.5rem;
}
/* movie details page end */
/* tv show details start */
#show-details ul {
  list-style: inside;
  gap: 0.4rem;
  flex-direction: column;
}
/* tv show details end */
/* QUERIES */
@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .navbar {
    display: flex;
    align-items: center;
  }
  .navbar ul {
    display: block;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
  }
  .navbar::before {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all 0.3s;
  }
  .navbar ul li {
    border-bottom: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s;
  }
  .navbar ul li a {
    display: block;
    padding: 2rem 2.4rem;
    text-align: left;
    width: 100%;
    transition: all 0.3s;
    font-weight: 700;
  }
  input[type='checkbox'] {
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    right: 0;
  }
  input[type='checkbox']:checked + label {
    border: 4px solid silver;
    border-radius: 50%;
    height: 28px;
    right: 18px;
    width: 28px;
    transform: rotate(-135deg);
  }
  input[type='checkbox']:checked + label::before {
    background: silver;
    top: 8px;
    right: 4px;
    width: 12px;
  }
  input[type='checkbox']:checked + label::after {
    background: silver;
    opacity: 1;
    top: 8px;
    right: 4px;
    visibility: visible;
    width: 12px;
  }
  input[type='checkbox']:checked + label:hover {
    border-color: #c90856;
  }
  input[type='checkbox']:checked ~ ul::before {
    opacity: 1;
    visibility: visible;
  }
  input[type='checkbox']:checked ~ ul {
    background: #0e0e0e;
    border-top: 1px solid #ddd;
  }
  input[type='checkbox']:checked ~ ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .navbar label {
    background: none transparent;
    border: 4px solid #c90856;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 20px;
    width: 24px;
    height: 24px;
    transition: all 0.2s;
  }
  .navbar label:hover {
    border-color: silver;
  }
  .navbar label:hover::before,
  .navbar label:hover::after {
    background: silver;
  }
  .navbar label::before {
    background: #c90856;
    content: '';
    height: 4px;
    right: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all 0.2s;
  }
  .navbar label::after {
    background: #c90856;
    content: '';
    height: 4px;
    right: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all 0.2s;
  }
  #popular-movies,
  #popular-shows,
  #movie-upcoming {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .details-bottom {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
  }
}
@media only screen and (max-width: 450px) {
  .details-top {
    flex-direction: column;
  }
}
@media only screen and (max-width: 300px) {
  #popular-movies,
  #popular-shows,
  #movie-upcoming {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
